---
import Layout from '../layouts/Layout.astro';
import ObservationScheduler from '../components/ObservationScheduler';

const pathname = Astro.url.pathname;
---

<Layout pathname={pathname}>
  <div class="min-h-screen bg-gray-50 p-6">
    <div class="max-w-7xl mx-auto">
      <ObservationScheduler client:only="react" />
    </div>
  </div>
</Layout>